body {
    padding: 0;
    margin: 0;
}



.slider_wrapper{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
width: 900px;
height: 600px;
border-radius: 10px;
margin: 10px;
cursor: pointer;    
transition: all 0.2s linear;
}




.left__arrow{
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: rgb(48, 48, 48);
    z-index: 10;
    cursor: pointer;
    user-select: none;
    }
    
    
    
    
    .right__arrow{
      position: absolute;
      top: 50%;
      left: 32px;
      font-size: 3rem;
      color: rgb(48, 48, 48);
      z-index: 10;
      transform: translate(180deg);
      cursor: pointer;
      user-select: none;
    }

    .slider.active{
        opacity:  1;
        transition-duration: 1s;
        transform: scale(1.1);
    }

    .slider{
        opacity: 0;
        transition-duration: 1s ease;
    }